* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(farthest-corner at 100px 50px, rgb(251, 242, 235), rgb(53, 42, 59));
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    font: 16px/1.5 Helvetica, Arial, sans-serif;
}

.active-link {
    background: rgb(98, 119, 111);
}
